body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    padding: 10px;
}

.links {
    display: flex;
    gap: 30px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a.header-link {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.section {
    height: 400px;
}

.hero {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
}

.hero-left {
    width: 500px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.sign-up-btn {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 8px 30px;
    border-radius: 8px;
    border: none;
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
}

.hero-right {
    height: 225px;
    width: 500px;
    background-color: rgb(122, 122, 122);
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-img {
    border: 3px solid #3882f6;
    border-radius: 15px;
    height: 170px;
    width: 170px;
    margin-bottom: 10px;
}

.cards {
    display: flex;
    gap: 48px;
}

.card {
    width: 170px;
}

.info-main-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin-bottom: 36px;
}

.info-text {
    color: rgb(122, 122, 122);
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-cointainer{
    width: 900px;
    display: flex;
    flex-direction: column;

}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.quote-author {
    margin-left: auto;
    font-size: 30px;
    font-weight: bolder;
    color: #1f2937;
}
